extends ./TestBed

block devices
  .apple-devices
    .device-wrapper
      h2 iPhone 4
      iframe(src="http://localhost:8080", width="320", height="480")
    
    .device-wrapper
      h2 iPhone 5
      iframe(src="http://localhost:8080", width="320", height="568")
    
    .device-wrapper
      h2 iPhone 6
      iframe(src="http://localhost:8080", width="375", height="667")
    
    .device-wrapper
      h2 iPhone 6+
      iframe(src="http://localhost:8080", width="414", height="736")
  
  .android-devices
    .device-wrapper
      h2 Nexus 4, Samsung Galaxy S4
      iframe(src="http://localhost:8080", width="384", height="640")
    
    .device-wrapper
      h2 Nexus 5
      iframe(src="http://localhost:8080", width="360", height="640")
