extends ./layouts/TestBed

block devices
  .apple-devices
    .device-wrapper
      h2 iPad 1 / 2
      iframe(src="http://localhost:8080", width="768", height="1024")
  
  .android-devices    
    .device-wrapper
      h2 Nexus 7(II)
      iframe(src="http://localhost:8080", width="600", height="960")
